:root {
    --color-bg: #f8efef;
    --color-main: #ebe3e3;
    --color-text: #1f1f1f;
    --color-muted: #6b6b6b;
    --color-accent: #6c5ce7;


    --font-main: "Inter", sans-serif;

    /* Font sizes */
  --text-small: 0.875rem;   /* 14px */
  --text-base: 1rem;        /* 16px */
  --text-medium: 1.25rem;   /* 20px */
  --text-large: 2rem;       /* 32px */

  /* Spacing */
  --space-xs: 0.25rem;
  --space-s: 0.5rem;
  --space-m: 1rem;
  --space-l: 2rem;
  --space-xl: 4rem;

  /* Layout */
  --max-width: 1000px;

  /* Border radius */
  --radius-s: 4px;
  --radius-m: 8px;
}